@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap');

html {
  font-family: 'Raleway', sans-serif;
}

.container {
  margin: auto 10rem;
}

.rockets-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 6rem 6rem;
}

.flex {
  display: flex;
}

.rocketContainer {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.rocketDescription {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: flex-start;
}

h2 {
  font-size: 1.6em;
  font-weight: 500;
}

p {
  font-size: 0.9em;
  line-height: 1.4;
  text-align: left;
}

.rocketSpan {
  background-color: #ffa500;
  color: #fff;
  border-radius: 5px;
  padding: 2px 5px;
  margin-right: 10px;
}

.addReservation {
  background-color: #6ed8c7;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color linear 0.2s;
  width: fit-content;
}

.removeReservation {
  width: fit-content;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #ec5343;
  border-radius: 5px;
  color: #888;
  transition: color linear 0.2s, border-color;
}

ul.flex1 {
  display: flex;
  flex-direction: column;
}
