.header {
  display: flex;
  flex-direction: row;
  padding: 1rem 5rem;
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  display: flex;
}

.nav-ul li {
  list-style: none;
  margin-right: 65px;
  padding: 1.1em 0;
}

.headerNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  width: 87.5rem;
  height: 1rem;
  margin: 0 0 2.375rem;
  padding: 2.5rem 6.188rem 1rem 10rem;
}

.link {
  text-decoration: none;
  font-size: 0.813rem;
  text-transform: uppercase;
  width: 3.68rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  letter-spacing: 1.9px;
  color: #6ed8c7;
}

.navigation {
  display: flex;
  list-style-type: none;
}
